# Sesion 15 - Actividad: Salarios
Actividad Básica

Obtén la diferencia entre el salario más alto y el más pequeño.
 

Actividad Avanzada

Obtén los valores estadísticos de los salarios. (media, mediana, desviación estándar, etc)

In [1]:
# Se importa pandas
import pandas as pd

In [2]:
# Datos en un diccionario para crear un DataFrame
my_dict = {
    'name'  : ['Kevin', 'Geroge', 'Jane', 'Mel', 'Thomas', 'Erica', 'Lisa',],
    'age'   : [20,27,35,55,18,21,35],
    'salary': [30000,45000,55000,78000,28000,32000,70000],
    'gender': ['M', 'M', 'F', 'F', 'M', 'F', 'F']
}

In [4]:
# Se crea el DataFrame
df = pd.DataFrame(my_dict)
df

     name  age  salary gender
0   Kevin   20   30000      M
1  Geroge   27   45000      M
2    Jane   35   55000      F
3     Mel   55   78000      F
4  Thomas   18   28000      M
5   Erica   21   32000      F
6    Lisa   35   70000      F

In [8]:
# Obtén la diferencia entre el salario más alto y el más pequeño.
diferencia = df['age'].max() - df['age'].min()
print("La diferencia entre la edad maxima {0} y la minima {1} es: {2}"
     .format(df['age'].max(), df['age'].min(), diferencia ))

La diferencia entre la edad maxima 55 y la minima 18 es: 37

In [10]:
# Obtén los valores estadísticos de los salarios. (media, mediana, desviación estándar, etc)
valores_estadisticos_salarios = df['salary'].describe()
print(valores_estadisticos_salarios)

count        7.000000
mean     48285.714286
std      20089.087301
min      28000.000000
25%      31000.000000
50%      45000.000000
75%      62500.000000
max      78000.000000
Name: salary, dtype: float64